<div class="container">
  <h1>Matches</h1>
  <div class="row">
    <% if @matches.length == 0 %>
      <br><br><br><br>
        <div class="text-center"><i>You have no matches yet.</i></div>
      <br><br><br><br>
    <% end %>
    <div class="col-md-9 col-md-offset-1">
      <% if @matches.length > 0 %>
        <div class="table_user_manager-destkop table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Primary Photo</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Location</th>
                <th>Bio</th>
                <th>Gallery</th>
              </tr>
            </thead>
            <tbody>
              <% @matches.each_with_index do |match, index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= image_tag(UserPhoto.where(user_id: match.liker.id).first.photo.link, alt: "Description of the image", height: "100", width: "100", class: "img-thumbnail") %></td>
                  <td><%= match.liker.first_name %></td>
                  <td><%= match.liker.last_name %></td>
                  <td><%= match.liker.country %>, <%= match.liker.state %>, <%= match.liker.city %></td>
                  <td><%= match.liker.bio %></td>
                  <td>
                    <% UserPhoto.where(user_id: match.liker.id).each do |user_photo| %>
                      <%= image_tag(user_photo.photo.link, alt: "Description of the image", height: "100", width: "100") %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="table_user_manager-sp">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>User</th>
                <th scope="col">Primary Photo</th>
              </tr>
            </thead>
            <tbody>
              <% @matches.each_with_index do |match, index| %>
                <tr>
                  <td>
                    <br>
                    <b>#</b>&nbsp;<%= index+1 %><br>
                    <b>First name:</b>&nbsp;<%= match.liker.first_name %><br>
                    <b>Last name:</b>&nbsp;<%= match.liker.last_name %><br>
                    <b>Location:</b>&nbsp;<%= match.liker.country %>, <%= match.liker.state %>, <%= match.liker.city %><br>
                    <b>Bio:</b>&nbsp;<%= match.liker.bio %><br>
                    <b>Gallery:</b>&nbsp;
                    <% UserPhoto.where(user_id: match.liker.id).each do |user_photo| %>
                      <%= image_tag(user_photo.photo.link, alt: "Description of the image", height: "70", width: "70", class: "img-thumbnail") %>
                    <% end %><br>
                    <br><br>
                  </td>
                  <td>
                    <br><br><%= image_tag(UserPhoto.where(user_id: match.liker.id).first.photo.link, alt: "Description of the image", height: "100", width: "100", class: "img-thumbnail") %><br>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= will_paginate @matches %>
      <% end %>
    </div>
  </div>
</div>